extends layout

block variables
  - var title = "Dashboard"

block content
  h2.text-center Dashboard

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center.
        Welcome to your dashboard page, #{user.profile.firstName}.

  .row
    .offset-sm-2.col-sm-8
      .jumbotron.text-center
        form(action='/', method='post')
          input.ghost-input(name='city', type='text', placeholder='Enter a City', required='')
          input.ghost-button(type='submit', value='Get Weather')
